<h1><%= current_user.name %>'s Completed Workorders</h1>

<h1>Your current average workorder rating: <%= current_user.average_workorder_rating.round(2) %></h1>


<div class="row">
  <div class="span6 offset3">
    <% if current_user.workorders.where(:state => ["Closed"]).any? %>
        <h1><%= current_user.workorders.where(:state => ["Closed"]).count %> Total</h1>
        <ol class="workorders">
          <%= render :partial => "workorders/completed_workorder", :collection => @workorders, :as => :workorder %>
        </ol>
    <% end %>
  </div>
</div>