<h1><%= current_user.name %>'s Workorders</h1>
<h5>These are the workorders you are currently working on</h5>

<div class="row">
  <div class="span8">
    <% if current_user.workorders.any? %>
      <h3><%= current_user.workorders.where(:state => "In Progress").count %> Workorders in Progress</h3>
      <ol class="workorders">
        <%= render @workorders %>
      </ol>
      
    <% end %>
  </div>

</div>