<h1><%= current_user.name %>'s Assigned Workorders</h1>
<h5>Be sure to check out the updates/comments if a Workorder has been reopened</h5>


<div class="row">
  <div class="span8">
    <% if current_user.workorders.any? %>
      <h3><%= current_user.workorders.where(:state => ["Assigned","Reopened", "Deferred"]).count %> Assigned Workorders</h3>
      <ol class="workorders">
        <%= render @workorders %> <!--renders _workorder.html.erb-->
      </ol>
    <% end %>
  </div>

</div>