<h1>Sign up!</h1>
<h2>Create an account here to submit work orders to WM Facilities Management!</h2>
<h2>You must use a valid WM email address and Banner ID number</h2>

<div class="row-fluid">
  <%= render 'form' %>
</div>
