<h1><%= @user.name %>'s Workorders</h1>

<div class="row">

  <div class="span8">
    <% if @user.workorders.any? %>
      <h3><%= @user.workorders.count %> Total Workorders</h3>
      <ol class="workorders">
        <%= render @workorders %>
      </ol>
      
    <% end %>
  </div>

</div>
