<h1>New workorder</h1>

<div class="row-fluid; position: absolute; overflow-y: auto;">
    <div class="span2 offset5">
        <%= render 'form', :locals => { :current_user_building => @current_user_building, :current_user_room => @current_user_room} %>

        <%= link_to 'Back', @user %>
    </div>
</div>
